.add_input{
    height: 32px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-right: 20px;
    border-bottom: 1px solid black;
    
    &::placeholder {
        color: #a1a7b6;

    }
}

.add_btn {
      border: none;
      appearance: none;
      background-color: black;
      color: #fff;
      font-size: 14px;
      border-radius: 10px;
      padding: 10px 15px;
      cursor: pointer;
  }

.form{
    margin-block: 20px;
    }